<footer class="mb-auto ">
    <div class="row">
        <div class="col text-light">
            footer izquierdo
        </div>
        <div class="col text-light">
            footer derecho
        </div>
    </div>
</footer>