<div class="container">
    <div class="d-flex justify-content-between">
        <div class="logo ">
            <p class="text-teal text-center">Vo confia</p>
        </div>
        <span class="login ms-auto text-light ">Registrarse/iniciar</span>
    </div>
</div>