<body class="bg-dark">

    {{>upper-navbar}}

    {{> navbar}}

    <div class="container">
        <div class="row">
            <div class="hero-animation bg-black">
                <div class="logo animated-logo">
                    <p class="text-teal text-center">Vo confia</p>
                </div>
                <div class="cervecita">
                    <object data="/img/beer.svg"> </object>
                </div>
            </div>
        </div>
    </div>

    <!--
        por aqui el cuerpo de la pagina principal
    -->

    <h2 class="text-dark bg-light">probando fontawesome icon
        <span style="font-size: 3em; color: Tomato;">
            <i class="fa-solid fa-bug"></i> </span>
    </h2>

    {{> footer}}
</body>