<body class="bg-dark">
    <!-- bootstrap funciona!-->
    <h1 class="text-light">Vo confia</h1>
    {{> navbar}}

    <!--
        por aqui el cuerpo de la pagina principal
    -->

    <h2 class="text-dark bg-light">probando fontawesome icon
        <span style="font-size: 3em; color: Tomato;">
            <i class="fa-solid fa-bug"></i> </span>
    </h2>

    {{> footer}}
</body>