<body class="bg-dark">
    <!-- bootstrap funciona!-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-centered">
                <div class="maintxt">
                    My great text.
                </div>
            </div>
        </div>
    </div>
    {{> navbar}}

    <!--
        por aqui el cuerpo de la pagina principal
    -->

    <h2 class="text-dark bg-light">probando fontawesome icon
        <span style="font-size: 3em; color: Tomato;">
            <i class="fa-solid fa-bug"></i> </span>
    </h2>

    {{> footer}}
</body>