<body class="bg-dark">
    <!-- bootstrap funciona!-->
    <h1 class="text-light">Vo confia</h1>
    {{> navbar}}

    <!--
        por aqui el cuerpo de la pagina principal
    -->

    {{> footer}}
</body>