<body class="bg-dark">

    {{> navbar}}

    <div class="container mt-5">
        <div class="row">
            <div class="hero-animation bg-black">
                <div class="logo animated-logo">
                    <p class="text-teal text-center">Vo' confía</p>
                </div>
                <div class="cervecita">
                    <object data="/img/beer.svg"> </object>
                </div>
            </div>
        </div>
    </div>

    <!--
        por aqui el cuerpo de la pagina principal
    -->
    <div class="container">
        <div class="row">
            <p class="text-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis cursus convallis. Proin porttitor
                orci sed
                elit hendrerit, eget finibus orci dapibus. Ut commodo euismod suscipit. Nulla facilisi. Aliquam sodales
                id nisl
                a ullamcorper. Vivamus varius facilisis lacus a aliquam. Pellentesque ut tellus nec dui mattis mollis
                sit amet
                vel nulla. Cras et quam molestie, tristique enim tempus, pellentesque nisi. Vestibulum non elit sit amet
                leo
                rhoncus ultrices. Pellentesque vitae augue sit amet augue mollis vulputate. Duis ultricies ut urna vel
                auctor.
                Pellentesque quam ligula, dictum in blandit eu, maximus viverra purus.
            </p>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>
            <div class="col col-sm-6">
                <h2 class="text-dark bg-light">probando fontawesome icon
                    <span style="font-size: 3em; color: Tomato;">
                        <i class="fa-solid fa-bug"></i> </span>
                </h2>
            </div>

        </div>
    </div>


    {{> footer}}
</body>