.text-red{
    color: red!important;
}

.hero-animation{
    width: 100vw;
    height: 75vh;
}

.cuadrado{
    font-family: 'Pacifico', cursive;
    background-color: tomato;
    width: 10vw;
    height : 10vw;
    margin-top: 25vh;
    margin-left: 30vw;
}

.cuadrado:hover{
    width: 15vw;
    height: 15vw;
    transition-property: width, height;
    transition-duration: 2s;
}

